@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply font-semibold text-7xl text-white my-20 animate-bounce-in;
}

h1 + hr {
    @apply bg-emerald-400 h-3 border-none mb-10;
}

h2 {
    @apply font-semibold text-emerald-400 text-4xl my-8;
}

h3 {
    @apply text-emerald-400 text-2xl my-6;
}

p {
    @apply text-emerald-400;
    margin: 50px;
}
footer {
    @apply text-emerald-400;
}
p a{
    color:aquamarine;
}